# Entorno virtual
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Metadata de packaging
*.egg-info/
build/
dist/

# Streamlit cache (opcional)
.streamlit/

# VS Code
.vscode/

# Archivos exportados
*.xlsx
*.zip